DEVIN_API_KEY=cog_your_service_user_key
DEVIN_ORG_ID=org-your_organization_id
GITHUB_TOKEN=ghp_token_with_access_to_your_fork
GS_FORK=you/superset
GS_PIN_ALLOWLIST=currencyformatter.js,react-checkbox-tree
